@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
			
		#title {
			font-family: 'Baloo Thambi';
			color: red;
		}
		
		#members {
			font-family: 'Baloo Thambi';
			color: red;
		}
			
		}
		th {
		 background-color: grey;
		}
		
		h5 {
		 color: maroon;
		}
		
		
		li {
		 font-style: italic;
		color: red;
		 }

