@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

       
		#title {
			font-family: 'Baloo Thambi';
			color: red;
		}	
		
		
		#members {
			font-family: 'Baloo Thambi';
			color: red;	
			font-size: 18px;
		}


		a:link {
			color: blue;
			text-decoration: none;
			}
			
		a:visited {
			color: maroon;
			text-decoration: none;
		}
		
	
		a:hover {
			color: red;
			text-decoration: underline;
			font-family: goudy stout;
			background-color: grey;
		}
		
		a:active {
			color: green;
			text-decoration: none;
			font-weight: bold;
		}
		
		th {
		 background-color: grey;
		font-style: bold
		}
		
		h5 {
		 color: maroon;
		}
		
		
		li {
		 font-style: italic;
		color: red;
		 }


		td {
			font-style: italic;
		}
		
