	@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
	
	
	#flheader {
			font-family: 'Baloo Thambi';
			text-align: center;
			color: red;
	}
	
	#flfooter {
			color: red;
	}
		
		#links {

		}
		
		
		
		a:link {
			color: green;
			text-decoration: underline;
			}
		a:visited {
			color: maroon;
			text-decoration: underline;
		}
		
	
		a:hover {
			color: green;
			text-decoration: bold;
			font-family: goudy stout;
		}
		
		a:active {
			color: green;
			text-decoration: none;
		}
		
	#descrip {
		color: green;
	}